<div *ngIf="identity" class="container">
  <div class="form-group">
    <div class="btn-group">
      <button type="button"
        class="btn btn-primary"
        routerLink="/">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </button>
      <div class="btn-group pull-right">
        <button type="button"
        class="btn btn-primary"
        routerLink="/identity/{{identity.id}}/addContact">
        Add Contact
        </button>
        <button type="button"
        class="btn btn-primary"
        (click)="update()">
        <i class="fa fa-refresh" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <h2><small>Dashboard <span class="back pull-right">{{identity.name}}</span></small></h2>
  </div>
  <h3><small>Contacts</small></h3>
  <ul class="link-list">
    <li *ngFor="let contact of identity.contacts"
    class="contact verified-{{contact.verified}}"
    routerLink="/identity/{{identity.id}}/contact/{{contact.id}}">
      <p><span class="name">{{contact.name}}</span><br>
        <span *ngIf="contact.totalDebt >= 0" class="debt">My debt: {{contact.totalDebt | currency}}</span>
        <span *ngIf="contact.totalDebt < 0" class="debt">My credit: {{contact.totalDebt * -1 | currency}}</span>
      </p>
    </li>
  </ul>

  <!-- Disable Locki Extension -->
  <!-- <h3><small>Lockid Extension</small></h3> -->
  <!-- <app-external-locki-dashboard></app-external-locki-dashboard> -->

  <h3><small>PGP Details</small></h3>
  <app-fingerprint fingerprint="{{identity.id}}"></app-fingerprint>
  <app-pgparmored title="Private Key Block" armored="{{identity.privateKeyArmored}}"></app-pgparmored>
  <app-pgparmored title="Public Key Block" armored="{{identity.publicKeyArmored}}"></app-pgparmored>
</div>
