<div class="container">
  <h2><small>Create Identity</small></h2>
  <form action="">
    <div class="form-group">
      <label>Pseudonym:</label>
      <input type="text" [(ngModel)]="name" name="name" class="form-control" style="width: 63%" />
      <span>@cashpg.ch</span>
    </div>
    <div class="form-group">
      <label>Key:</label>
      <input type="text" disabled="disabled" value="RSA - 4096"/>
    </div>
    <div class="form-group btn-group">
        <app-back-button></app-back-button>
        <button class="btn btn-primary pull-right" type="submit" (click)="createIdentity()">Create Identity</button>
    </div>
  </form>
</div>
