<div *ngIf="contact" class="container">
  <div class="form-group">
    <div class="btn-group">
      <app-back-button></app-back-button>
    </div>
  </div>
  <h2><small>Send Payment</small></h2>
  <form action="#">
    <div class="form-group">
      <label>Sender:</label>
      <input type="text" name="name" class="form-control" value="{{identity.name}}" disabled/>
    </div>
    <div class="form-group">
      <label>Receiver:</label>
      <input type="text" name="name" class="form-control" value="{{contact.name}}" disabled/>
    </div>
    <div class="form-group">
      <label>Comment:</label>
      <input type="text" name="comment" class="form-control" [(ngModel)]="comment" />
    </div>
    <div class="form-group">
      <label>Amount:</label>
      <input type="number" name="amount" class="form-control amount" [(ngModel)]="amountStr" />
      <select name="currency" class="form-control currency" [(ngModel)]="currency">
        <option>Fr</option>
        <option>Rp</option>
      </select>
    </div>
    <div class="form-group">
      <div class="btn-group">
        <button type="submit" class="btn btn-primary pull-right" (click)="sendPayment()">Send Payment</button>
      </div>
    </div>
  </form>
</div>
